---
- name: Ensure Git is installed
  apt:
    name: git
    state: present
  notify: Удаляем папку с файлами git


- name: Clone or Update Repository
  git:
    repo: "{{ github_repo }}"
    dest: "{{ deploy_dir }}"
    version: "{{ git_branch }}"
    force: no

- name: Копируем файлы в целевую директорию
  copy:  # Лучше использовать copy вместо shell
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: '0755'
  with_items:
    - { src: "{{ deploy_dir }}/telegram_bot.py", dest: "{{ dest_dir }}" }
    - { src: "{{ deploy_dir }}/logger.py", dest: "{{ dest_dir }}" }
  notify: Удаляем папку с файлами git

- name: Stop telegrambot service
  systemd:
    name: "{{ tele_bot }}"
    state: stopped

- name: Start telegrambot service
  systemd:
    name: "{{ tele_bot }}"
    enabled: yes
    state: started
  register: service_status

- name: Wait for service to fully initialize
  wait_for:
    timeout: 10
  when: service_status.changed

- name: Check service status after delay
  systemd:
    name: "{{ tele_bot }}"  # Было "reminder", должно быть "{{ tele_bot }}"
  register: service_status

# - name: Show ALL service_status data
#   debug:
#     var: service_status

- name: Verify service is active and running
  assert:
    that:
      - service_status.status.ActiveState == 'active'
      - service_status.status.SubState == 'running'
    msg: "Service {{ tele_bot }} is not running. Status: {{ service_status.status }}"