---
- name: Ensure Git is installed
  apt:
    name: git
    state: present
  notify: Удаляем папку с файлами git  

- name: Clone or Update Repository
  git:
    repo: "{{ github_repo }}"
    dest: "{{ deploy_dir }}"
    version: "{{ git_branch }}"
    force: no

- name: Копируем файлы в целевую директорию
  shell:
    cp "{{ item.src }}" "{{ item.dest }}"
  with_items:
    - { src: "{{ deploy_dir }}/reminder.py", dest: "{{dest_dir}}" }
    - { src: "{{ deploy_dir }}/reminder_utils.py", dest: "{{dest_dir}}" }
    - { src: "{{ deploy_dir }}/bot_logger.py", dest: "{{dest_dir}}" }
  notify: Удаляем папку с файлами git

- name: Stop reminder service
  systemd:
    name: reminder
    state: stopped

- name: Start reminder service
  systemd:
    name: reminder
    enabled: yes
    state: started
  register: service_status

- name: Wait for service to fully initialize
  wait_for:
    timeout: 10
  when: service_status.changed


- name: Check service status after delay
  systemd:
    name: reminder
  register: service_status


  #- name: Show ALL service_status data
  #  debug:
  #    var: service_status

- name: Verify service is active and running
  assert:
    that:
    - service_status.status.ActiveState == 'active'
    - service_status.status.SubState == 'running'
    msg: "Service reminder is not running. Status: {{ service_status.status }}"  
# tasks file for reminder
