---
- name: Restart Zabbix server
  systemd:
    name: zabbix-server
    state: restarted

- name: Restart Zabbix agent
  systemd:
    name: zabbix-agent
    state: restarted

- name: Reload Apache
  systemd:
    name: apache2
    state: reloaded

- name: Restart Apache
  systemd:
    name: apache2
    state: restarted

- name: Reload systemd
  systemd:
    daemon_reload: yes